{% include 'header.html' %}
<body>
    {% include 'nav.html' %}
<section id = "landing">
          <div class="row"><br><br><br><br><br>
              <center><img class="img-responsive" src="http://www.saimgs.com/imglib/products/logos-hq/logo_2308_hq.png?v=c04fcb2869bfed9fb040c1498c45862a" width="300" height="400" align="middle"><br><br><br></center>
        <h1><center>Welcome to DrChrono's Clinic Kiosk</center></h1>
              <p><center>Please Sign in using the below link !! </center></p>
            <center>
        <a href={{authorizelink}}>
            <br><br>
            
            <button type="button" class="btn btn-primary">Sign In</button>
        </a>
                </center>
        </div>
    </section>
    </body>

